body {
  color: #fff;
  margin: 0;
  background: #000;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
div {
  padding: 5px 5px;
  z-index: 2;
  font-family: arial;
  clear: both;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
div#controls {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  position: absolute;
  top: 0;
  width: 260px;
  padding: 7px 10px;
  background: rgba(150, 150, 150, 0.5);
}
br {
  clear: both;
}
span.effects {
  float: left;
  margin-right: 10px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
}
input,
select {
  float: right;
  font-size: 14px;
  width: 160px;
}
a {
  color: #ccf;
}
a:hover {
  color: #ff0000;
}
